form{
  height: 100%;
  weight:100%;
    background-color:
    #868e96;
    border-radius: 4px;
    border: solid black;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

input[type="text"]{
    width: 80%;
}

*{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.button{
    background-color: #339af0;
    border-radius: 4px;
    width: 20%;
    height: 30%;
    cursor: pointer;
}
.button:hover{
    background-color: #258de7;
}